*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.logo-english{
    width: 55px;
}



header{
    background-color: rgb(143, 138, 138);
}

h1{
    font-size: 1.4em;
    color: rgb(78, 198, 228);
}

h2{
    font-weight: bold;
    color: #ca0088;
    font-size: 2.0em;
}
main{
    background-image: url(img/);
}

.ideia{
    width: 65%;
}

p{
    font-size: 1em;
}

.razao{
    background-color: #c779a9;
}

.box {
    width: 5%;
    float: left;
    height: 100%;/*Altura da linha*/
   }
   
   .linha-vertical {
    border-left: 2px solid #c779a9;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
   }


.metodologia{
    background-image: linear-gradient(to top, white, #F8BBD0);
}

.img-trabalho{
    width: 90%;
}


.img-pnl{
    width: 190px;
}

.card-metodologia{
    border: none;
}

.texto-direto{
    font-size: 1.2em;
    color: #ca0088
}

.img-perfil{
    width: 150px;
}

.icon-contato{
    width: 15%;
}

.contato-principal{
    height: 78%;
    object-fit: cover;  
    object-position: 20% 0;
}

.entre-contato{
    font-size: 1.2em;
}